/*Loader Animation*/
.loader {
    margin: auto;
    border: 15px solid #8a99af !important;
    border-radius: 50% !important;
    border-top: 15px solid #FF7A59 !important;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Other styles */
.act-img {
    width: 100%;
}